#my-div{
    height: 300px;
    width: 300px;
    background-color: black;
    color: white;
    font-size: 30px;
    border: 5px solid red;
    padding-left: 50px;
    padding-top: 50px;
    /* margin-bottom: 50px; */
}

#new-div{
    height: 300px;
    width: 300px;
    background-color: black;
    color: white;
    font-size: 30px;
    border: 5px solid red;
    margin-top: 50px;
    padding-left: 50px;

}