/* h1{
    color:red;
    border:10px solid black;
    background-color: blue;
    
} */

.sarf{
    color:red;
    border:10px solid black;
    background-color: blue;

}

#arham{
    background-color: aquamarine;

}