body {
    font-family: 'Arial', sans-serif;
    background-color: #0D1117;
    color: #C9D1D9;
}

h1 {
    color: #58A6FF;
}

/* Attribute Selector */
a {
    color: #8B949E;
    text-decoration: none;
}

a:hover {
    color: #1F6FEB;
}

/* Child Selector */
ul > li {
    font-weight: bold;
}

/* Sibling Selector */
h1 + p {
    background-color: #161B22;
    padding: 10px;
    border-radius: 5px;
}

/* :hover Pseudo-class */
.points:hover{
    font-size: 20px;
    color: #1F6FEB;
    text-shadow: 3px 3px 3px white;
}

.points:active{
    background-color: #b73a31;
    color: blueviolet;

}





/* ::before Pseudo-element */
.points::before{
    content: "😉";
}
.points::after{
    content: "😘";
}

/* ::after Pseudo-element */
a::after {
    content: " 🌌";
}

/* ::first-letter Pseudo-element */
.para-1::first-letter {
   font-size: 32px;
    color: #b73a31;
}



/* text-shadow:4px 6px 2px orange; */