body{
    background-color: black;
    color: white;
    font-size: larger;
}
#heading{
    color: red;
    font-size: 40px;
}


#heading:hover{
    color: blue;
    text-shadow:5px 5px 5px yellow ;

}




li:hover{
    color: aqua;

}
li::before{
    content: "😉";
}
li::after{
    content: "🤞";
}





#para-1::first-letter{
   color: aqua;
   font-size: 30px;
   text-shadow: 5px 5px 5px aqua;
}

#para-2::first-letter{
    font-size: 30px;
    color: rgb(128, 0, 255);
}